.Note-content {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.Color-list {
    margin: 10px 0 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 5px;
}

.btn-icon {
    padding: 3px;
    border-radius: 3px;
    margin: 0 5px;
    color: #ffffff;
}

.Color-list {
    
}

.Color-item {
    width: 20px;
    height: 20px;
    border-radius: 15px; 
    cursor: pointer;
    border: 1px solid #b0b0b0;
}

button {
    margin: 0 5px;
}